*.brf
*.acn
*.pyc
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lol
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
Thumbs.db
*.tdo
thesis.pdf
classicthesis/*
benchmarks/output/*
benchmarks/ok3/*
benchmarks/figs/*
benchmarks/resources/*
scripts/.ipynb_checkpoints/*
tex/arxiv/*
